<html>
  <head></head>
  <body>
    <footer>
      <div class="row">
        <div class="column">
          <div class= "footer-items">
            <ul class="list-items">
              <li id="home"><a href="/">Home</a></li>
              <li id="about"><a href="/about">About</a></li>
              <li id=""><a href="/user/create">Add User</a></li>
              <li id=""><a href="/department/create">Add Department</a></li>
              <li id=""><a href="/departments">Department</a></li>
            </ul>
          </div>
        </div>
        <div class="column">
          <h3>© IT Digital, all rights reserved.</h3>
          
        </div>
      </div>
    </footer>
  </body>
</html>
